{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>pizza Jeff</h1>
    <h2>Vous nous trouverez ici :</h2>
    <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11564.821383004228!2d1.4898537153442204!3d43.560604100000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebc5e9f595535%3A0x7f35cdff8b384224!2sKley%20Toulouse%20-%20Campus!5e0!3m2!1sfr!2sfr!4v1654783387466!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

<p>nos pizza sont les meilleurs de la region !</p>
{% endblock %}
